<!DOCTYPE html>
<html>
<head>
	<title>New Journals Today</title>
</head>
<body>
	<p>
	Dear ${user.loginName},
	<p>
	We are pleased to inform you of today's additions to the journals of our website.
	<p>
	<table>
		<thead>
			<tr>
				<td>Journal</td>
				<td>Category</td>
			</tr>
		</thead>
		<tbody>
		<#list journals as journal>
			<tr>
				<td>${journal.name}</td>
				<td>${journal.category.name}</td>
			</tr>
		</#list>
		</tbody>
	</table>
	<p>
	Best regards,<br/>Medical Journal System Team 
</body>
</html>